<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    /* const counts = [];
    function getMaxRows(srcList = [], level = 0) {
      debugger;
      let account = 0;
      for (const item of srcList) {
        if (item.children?.length) { 
          level++;
          account += this.getMaxRows(item.children, level);
        } else {
          account++;
        }
      }
      counts[level] = account;
      return account;
    } */
    // const counts = {};
    function getMaxRows(curNode, counts = {}) {
      let account = 0;
      for (const item of curNode.children) {
        if (item.children?.length) {
          account += this.getMaxRows(item, counts).account;
        } else {
          account++;
        }
      }
      return {
        account,
        counts,
      };
    }

    const data = {
      label: '详情1',
      grids: 5,
      children: [
        { prop: 'sub1' },
        {
          label: '详情1-2',
          children: [
            { label: '详情1-1-1', prop: 'tub1' },
            { label: '详情1-1-2', prop: 'tub2' },
            {
              label: '详情1-1-3',
              children: [
                { prop: 'nuc1-1-3-1' },
                { label: 'nuc1-1-3-2', prop: 'nuc1-1-3-2' }
              ]
            },
          ]
        },
        {
          label: '详情1-4',
          children: [
            { prop: '详情1-4-1' },
            { prop: '详情1-4-2' },
            { prop: '详情1-4-3' }
          ]
        },
        { label: '详情1-3', prop: 'sub3' },
      ]
    };
    const res = getMaxRows(data);
    console.log(res)
  </script>
</body>

</html>